$border-color: #DDD;
$tree-color: #FFB931;
$text-color: #444440;
$border: 1px solid #444440;
$default-padding: 20px;

@mixin card {
    background: $tree-color;
    color: $text-color;
    border-radius: 1rem;
    border: 1px solid $border-color;
    padding: $default-padding;
    width: 300px;
    margin: 100px calc(50vw - 171px);
    @media (max-width: 400px) {
        width: 200px;
        margin: 100px calc(50vw - 121px);
        padding: 20px;
    }
}
